.App {
  position: relative;
  width: 375px;
  height: 1909px;
  
  background: #FFFFFF;
  margin: 0 auto
}


.StatusBar {
  position: relative;
  width: 375px;
  height: 24px;
}

.Figma {
  position: absolute;
  width: 120px;
  height: 16px;
  left: 2.64px;
  top: 4px;
}

.b_circle_1 {
  position: absolute;
  width: 5.5px;
  height: 5.5px;
  left: 3.36px;
  top: 5px;
}

.b_circle_2 {
  position: absolute;
  width: 5.5px;
  height: 5.5px;
  left: 10.36px;
  top: 5px;
}

.b_circle_3 {
  position: absolute;
  width: 5.5px;
  height: 5.5px;
  left: 17.36px;
  top: 5px;
}

.w_circle_1 {
  position: absolute;
  width: 5.5px;
  height: 5.5px;
  left: 24.36px;
  top: 5px;
}

.w_circle_2 {
  position: absolute;
  width: 5.5px;
  height: 5.5px;
  left: 31.36px;
  top: 5px;
}

.Figma__text {
  position: absolute;
  width: 35px;
  height: 15px;
  left: 39.86px;
  top: 0.5px;
  
  font-family: Helvetica;
  font-size: 12px;
  line-height: 12px;
  display: flex;
  align-items: center;
  
  color: #000000;
}
.wifi_top {
  position: absolute;
  width: 12px;
  height: 3.41px;
  left: 81.36px;
  top: 3px;
}

.wifi_mid {
  position: absolute;
  width: 8.07px;
  height: 2.64px;
  left: 83.32px;
  top: 6px;
}

.wifi_bot {
  position: absolute;
  width: 4.09px;
  height: 3.04px;
  left: 85.31px;
  top: 8.96px;
}


.Time {
  position: absolute;
  width: 50px;
  height: 15px;
  left: calc(50% - 50px/2 + 1px);
  top: 4.5px;

  font-family: Helvetica;
  font-size: 12px;
  line-height: 12px;
  display: flex;
  align-items: center;

  color: #000000;
}


.Battery {
  position: absolute;
  width: 88px;
  height: 18px;
  right: 2.36px;
  top: 2px;
}

.bluetooth {
  position: absolute;
  width: 5px;
  height: 10px;
  left: 19.86px;
  top: 4.5px;

  /* border: 1px solid #FFFFFF; */
}

.Battery__text {
  position: absolute;
  width: 25px;
  height: 15px;
  left: 29.86px;
  top: 2.5px;

  font-family: Helvetica;
  font-size: 12px;
  line-height: 12px;
  display: flex;
  align-items: center;

  color: #000000;
}

.Battery__icons {
  position: absolute;
  width: 24.5px;
  height: 10px;
  left: 59.86px;
  top: 4.5px;
}

.shape {
  position: absolute;
  width: 22.5px;
  height: 10px;
  left: 59.86px;
  top: 4.5px;
}

.charge {
  position: absolute;
  width: 9px;
  height: 8px;
  left: 60.86px;
  top: 5.5px;
}

.plus {
  position: absolute;
  width: 1.5px;
  height: 3.46px;
  left: 82.86px;
  top: 8px;
}


.Logo__text {
  position: absolute;
  width: 78px;
  height: 24px;
  left: 25px;
  top: 56px;
  
  /* body1 */
  
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */
  
  display: flex;
  align-items: center;
  
  color: #000000;
}

.info {
  position: absolute;
  width: 24px;
  height: 24px;
  left: 323px;
  top: 56px;
}

.RedBackground{
  position: absolute;
  width: 375px;
  height: 148px;
  left: 0px;
  bottom: 1605px;
  
  /* Акцентный ( градиент) */
  
  background: linear-gradient(180deg, #D2333E 0%, #F54B55 100%)
}

.Bonuses {
  position: absolute;
  width: 335px;
  height: 105px;
  left: 20px;
  top: 100px;
  
  background: #FFFFFF;
  box-shadow: 2px 2px 16px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
}

.AllBonuses {
  position: absolute;
  width: 150px;
  height: 32px;
  left: 20px;
  top: 18px;
  
  /* headline */
  
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
  /* identical to box height, or 133% */
  
  display: flex;
  align-items: center;
  
  color: #000000;
}

.BurningDate {
  position: absolute;
  width: 97px;
  height: 24px;
  left: 20px;
  top: 62px;
  
  /* body1 */
  
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */
  
  display: flex;
  align-items: center;
  
  /* текст в формах */
  
  color: #979797
}

.fire {
  position: absolute;
  width: 13px;
  height: 17px;
  left: 125px;
  top: 65px;
}

.BurningBonuses {
  position: absolute;
  width: 96px;
  height: 24px;
  left: 146px;
  top: 62px;
  
  /* body1 */
  
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */
  
  display: flex;
  align-items: center;
  
  /* текст в формах */
  
  color: #979797;
  
}

.Bonuses__button {
  position: absolute;
  width: 35px;
  height: 35px;
  left: 282px;
  top: 39px;
}

.redCircle {
  position: absolute;
  width: 35px;
  height: 35px;
}


.Arrow__wrapper {
  position: absolute;
  width: 7px;
  height: 13px;
  left: 15px;
  top: 11px;
}

.Arrow {
  position: absolute;
  left: 11.02%;
  right: 11.02%;
  top: 6.19%;
  bottom: 6.19%;
}

.arrowTop{
  position: absolute;
  left: 15.77px;
  /* right: -70.33%; */
  /* top: 51.83%; */
  bottom: 48.16%;
}

.arrowBottom {
  position: absolute;
  left: 15.77px;
  /* right: 11.02%; */
  top: 50%;
  /* bottom: 50%; */
}